body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  background-color: #fff;
  padding: 50px;
}

.user-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.user-photo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #000;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details {
  display: flex;
  border: 2px solid #000;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  padding: 0 20px;
}

h1 {
  font-size: 35px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h3 {
  font-size: 20px;
}

.total-posts {
  display: flex;
  margin-top: 50px;
  padding-top: 50px;
  gap: 10px;
  align-items: center;
}

#bio-and-posts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.posts_container {
  width: 80%;
  margin: auto;
}

.user-bio {
  width: 100%;
}

.bio,
.post,
.post_desc,
.com_on_Post {
  border: 2px solid #000;
  padding: 15px;
}

.commentsCount {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

/* .seePosts {
  display: block;
  margin: 0 auto;
} */

.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  font-size: 15px;
}

.P_text {
  font-size: 16px;
}

.btns {
  display: flex;
}

.form-container {
  display: flex;
  border: 4px solid #000;
  flex-direction: column;
  height: 500px;
  width: 500px;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.form_msg {
  height: 100px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.form_title {
  height: 30px;
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.add_like {
  display: flex;
  gap: 10px;
}

.new-post {
  display: flex;
  justify-content: center;
  gap: 30px;
}
